<h1 align="center">{{title}} de la Reserva {{this._parametros.idReserva}}</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <form class="animated bounceIn" (ngSubmit)="crearHabitacion(NuevaHabitacionForm)" #NuevaHabitacionForm="ngForm">
        <div class="form-group">
          <label>Tipo de habitación</label>
          <select required name="tipo"
                  [(ngModel)]="nuevaHabitacion.tipo"
                  #tipo="ngModel"
                  class="form-control">
            <option value="simple">Simple</option>
            <option value="doble">Doble</option>
            <option value="triple">Triple</option>
          </select>
        </div>
        <div class="form-group">
          <label>Piso</label>
          <input required type="number"
                 min="1"
                 max="5"
                 class="form-control"
                 name="piso"
                 [(ngModel)]="nuevaHabitacion.piso"
                 #piso="ngModel"
          >
        </div>
        <button [disabled]="disabledButtons.NuevaHabitacionFormSubmitButton||!NuevaHabitacionForm.valid"
                class="btn btn-block btn-success" type="submit">Agregar Habitacion
        </button>
      </form>
    </div>
    <div class="col-sm-5 animated flipInX table-bordered ma-margen-top-bottom ma-padding-top-bottom"
         *ngFor="let habitacion of habitaciones">
      <div class="text-center">
        <h3> Tipo: {{habitacion.tipo}}</h3>
        <h3> Piso: {{habitacion.piso}}</h3>
      </div>
      <div class="row animated flipInY">
        <div class="col-sm-5">
          <button class="btn btn-block btn-info"
                  (click)="disabledButtons.Oculto = false; habitacion.formularioCerrado = !habitacion.formularioCerrado"
          >Actualizar
          </button>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
          <button class="btn btn-block btn-danger" (click)="borrarHabitacion(habitacion.id)">Borrar</button>
        </div>
      </div>
      <br>
        <div class="row animated flipInY">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <button class="btn btn-block btn-success" [routerLink]="[habitacion.id,'huesped']">Agregar Huéspedes
            </button>
          </div>
          <div class="col-sm-3"></div>
        </div>
      <div class="div" [hidden]="habitacion.formularioCerrado || (disabledButtons.Oculto)">
        <form action="">
          <form class="animated bounceIn" (ngSubmit)="actualizarHabitacion(habitacion)" #NuevaHabitacionForm="ngForm">
            <div class="form-group">
              <label>Tipo de habitación</label>
              <select name="tipo"
                      [(ngModel)]="habitacion.tipo"
                      #tipo="ngModel"
                      class="form-control">
                <option value="simple">Simple</option>
                <option value="doble">Doble</option>
                <option value="triple">Triple</option>
              </select>
            </div>
            <div class="form-group">
              <label>Piso</label>
              <input type="number"
                     min="1"
                     max="5"
                     class="form-control"
                     name="piso"
                     [(ngModel)]="habitacion.piso"
                     #piso="ngModel"
              >
            </div>
            <button [disabled]="disabledButtons.NuevaHabitacionFormSubmitButton||!NuevaHabitacionForm.valid"
                    type="submit"
                    class="btn btn-block btn-success">Actualizar
            </button>
            <button type="button"
                    class="btn btn-block btn-warning"
                    (click)="habitacion.formularioCerrado = !habitacion.formularioCerrado"
            >Cancelar
            </button>
          </form>
        </form>
      </div>
    </div>
  </div>
</div>


