<div class="container">
  <h1>Bienvenidos</h1>
<div row>
  <div class="jumbotron col-sm-5">
    <h1>Reservas</h1>
    <p>Realizar una reserva </p>
    <p><a class="btn btn-primary btn-lg" [routerLink]="['/reservas']" role="button">Listar y Crear Reservas</a>  </p>
  </div>
  <div class="col-sm-1"> </div>
  <div class="jumbotron col-sm-5">
    <h1>Huéspedes</h1>
    <p>Para registrar a los huéspedes, use el botón "Listar y Crear Reservas"  </p>
    <h4>Dentro de cada reserva podrá agregar y observa los huéspedes.</h4>
  </div>

</div>
</div>
