<h1 align="center">{{title}} de la Habitación {{this._parametros.idHabitacion}}</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <form class="animated bounceIn" (ngSubmit)="crearHuesped(NuevoHuespedForm)" #NuevoHuespedForm="ngForm">
        <div class="form-group">
          <label>Apellidos</label>
          <input required
                 minlength="4"
                 type="text"
                 class="form-control"
                 placeholder="Ingrese los apellidos del huésped"
                 name="apellidos"
                 [(ngModel)]="nuevoHuesped.apellidos"
                 #apellidos="ngModel"
                 #nombreElm>
        </div>
        <div class="form-group">
          <label>Nombres</label>
          <input required
                 minlength="4"
                 type="text"
                 class="form-control"
                 placeholder="Ingrese los nombres del huésped"
                 name="nombres"
                 [(ngModel)]="nuevoHuesped.nombres"
                 #nombres="ngModel"
                 #nombreElm>
        </div>
        <div class="form-group">
        <label>Fecha de nacimiento</label>
        <input required
               type="date"
               class="form-control"
               name="fechaNacimiento"
               [(ngModel)]="nuevoHuesped.fechaNacimiento"
               #fechaNacimiento="ngModel"
               #nombreElm>
      </div>
        <button [disabled]="disabledButtons.NuevoHuespedFormSubmitButton||!NuevoHuespedForm.valid"
                class="btn btn-block btn-success" type="submit">Agregar Huésped
        </button>
      </form>
    </div>
    <div class="col-sm-5 animated flipInX table-bordered ma-margen-top-bottom ma-padding-top-bottom" *ngFor="let huesped of huespedes">
      <div class="text-center">
        <h3>{{huesped.nombres}}</h3>
        <h3>{{huesped.apellidos}}</h3>
        <p>Fecha de nacimiento: {{huesped.fechaNacimiento}}</p>
      </div>
      <div class="row animated flipInY" >
        <div class="col-sm-5" >
          <button class="btn btn-block btn-info"
                  (click)="disabledButtons.Oculto = false; huesped.formularioCerrado = !huesped.formularioCerrado"
          >Actualizar</button>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
          <button class="btn btn-block btn-danger" (click)="borrarHuesped(huesped.id)">Borrar</button>
        </div>
        <div class="row">
          <div class="col-sm-4"></div>
        </div>
      </div>
      <div class="div" [hidden]="huesped.formularioCerrado || (disabledButtons.Oculto)">
        <form action="">
          <form class="animated bounceIn" (ngSubmit)="actualizarHuesped(huesped)" #NuevoHuespedForm="ngForm">
            <div  class="form-group">
              <label>Apellidos</label>
              <input required
                     minlength="4"
                     type="text"
                     class="form-control"
                     placeholder="Digite los apellidos del huésped"
                     name="apellidos"
                     [(ngModel)]="huesped.apellidos"
                     #apellidos="ngModel"
                     #nombreElm>
            </div>
            <div  class="form-group">
              <label>Nombres</label>
              <input required
                     minlength="4"
                     type="text"
                     class="form-control"
                     placeholder="Digite los nombres del huésped"
                     name="nombres"
                     [(ngModel)]="huesped.nombres"
                     #nombres="ngModel"
                     #nombreElm>
            </div>
            <div  class="form-group">
              <label>Fecha de Nacimiento</label>
              <input required
                     type="date"
                     class="form-control"
                     name="fechaNacimiento"
                     [(ngModel)]="huesped.fechaNacimiento"
                     #fechaNacimiento="ngModel"
                     #nombreElm>
            </div>
            <button [disabled]="disabledButtons.NuevoHuespedFormSubmitButton||!NuevoHuespedForm.valid" type="submit"
                    class="btn btn-block btn-success">Actualizar
            </button>
            <button type="button"
                    class="btn btn-block btn-warning"
                    (click)="huesped.formularioCerrado = !huesped.formularioCerrado"
            >Cancelar
            </button>
          </form>
        </form>
      </div>
    </div>
  </div>




</div>




<!--<router-outlet></router-outlet>-->

